.task3-title{
    font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.task3-input{
    margin-top: 16px;
    width: 360px;
        height: 40px;
        margin-bottom: 16px;

}
.task3-input:placeholder-shown{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}